<form ng-submit="changeBar()">
  <select ng-model='cohort'>
    <option selected value="DM22">DM-22</option>
    <option value="DM23">DM-23</option>
    <option value="DM24">DM-24</option>
    <option value="DM25">DM-25</option>
  </select>
  <select ng-model='survey'>
    <option selected value="MSAT">Mentor Satisfaction</option>
    <option value="OSAT">Overall Satisfaction</option>
    <option value="FSAT">Instructor Satisfaction</option>
    <option value="CSAT">Curriculum Satisfaction</option>
  </select>
  <input type="submit">
</form>
<div id="barChart"></div>